ansible-lint==3.4.11
argcomplete==1.8.2
#asn1crypto==0.21.1
backports.ssl-match-hostname==3.5.0.1
cffi==1.9.1
cryptography==1.8.1
docker-py==1.10.6
docker-pycreds==0.2.1
enum34==1.1.6
idna==2.5
ipaddress==1.0.18
Jinja2==2.8.1
MarkupSafe==1.0
#meld==3.16.3
oauthlib==2.0.1
packaging==16.8
paramiko==2.1.2
pip==9.0.1
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pygobject==3.22.0
pyparsing==2.2.0
PyYAML==3.12
Sphinx==1.5.3
#ranger==1.8.1
requests==2.13.0
requests-oauthlib==0.7.0
setuptools==32.1.0
six==1.10.0
tweepy==3.5.0
websocket-client==0.40.0
wheel==0.29.0
yamllint==1.6.1
